[[source]]
name = "tsinghua"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[packages]
bleach = "*"
blinker = "*"
celery = "*"
click = "*"
flask = "*"
flask-admin = "*"
flask-assets = "*"
flask-graphql = "*"
flask-httpauth = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"
flask-restful = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-uploads = "*"
flask-whooshalchemyplus = "*"
gevent = "*"
graphene = "*"
graphene-sqlalchemy = "*"
graphql-core = "*"
graphql-relay = "*"
markdown = "*"
"psycopg2" = "*"
raven = "*"
redis = "*"
sqlalchemy = "*"
whoosh = "*"
wtforms = "*"
ipython = "*"
meinheld = "*"
jieba = "*"
captcha = "*"
flask-redis = "*"
pygithub = "*"

[dev-packages]
coverage = "*"
flask-debugtoolbar = "*"
"flake8" = "*"
pylint = "*"
rope = "*"
yapf = "*"
ipython = "*"
flask-blog = {editable = true,path = "."}
forgerypy = "*"
requests = "*"
