[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
sanic-restful = "*"
gino = "*"
itsdangerous = "*"
forgerypy = "*"
aiofiles = "*"
aiosmtplib = "*"
aioredis = "*"
"jinja2" = "*"
whooshalchemy = "*"
whoosh = "*"
gunicorn = "*"
click = "*"
bleach = "*"
markdown = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
rope = "*"
yapf = "*"
ipython = "*"
feed-conductor = {editable = true, path = "."}
sanic-blog = {editable = true, path = "."}
requests = "*"
aoiklivereload = "*"

[requires]
python_version = "3.7"
